<div id="bmy-navbar" class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				<img src="images/logo-small-white.png" alt="兵马俑 BBS" />
			</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active">{{#link-to 'dashboard'}}导读{{/link-to}}</li>
				<li><a href="#">热门</a></li>
				<li>{{#link-to 'fav'}}收藏{{/link-to}}</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">分区 <b class="caret"></b></a>
					<ul class="dropdown-menu" id="nav-section-dropdown"></ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">帮助 <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">BBS 使用帮助</a></li>
						<li><a href="#">写信给站长</a></li>
					</ul>
				</li>
			</ul>
			<form class="navbar-form navbar-left" role="form">
				<div class="form-group dropdown" id="commandbar">
					{{input type="text" placeholder="搜索版面、用户、或者文章" class="form-control dropdown-toggle" data-toggle="dropdown" value=searchcommand focus-in="commandbarFocusInInput" focus-out="commandbarFocusOutInput" on="keyUp" key-up="commandbarKeyUp"}}
					<div class="input-group-btn">
						<span class="btn btn-default" disabled="disabled"><i class="glyphicon glyphicon-search"></i></span>
					</div>
					<ul class="dropdown-menu">
						<li><a href="#"><span class="label label-primary">搜索版面</span> {{searchcommand}}</a></li>
						<li><a href="#"><span class="label label-success">搜索用户</span> {{searchcommand}}</a></li>
						<li><a href="#"><span class="label label-danger">搜索文章</span> {{searchcommand}}</a></li>
					</ul>
				</div>
			</form>
			<div id="bmy-ps-info" class="nav navbar-nav navbar-right"></div>
		</div>
	</div>
</div>

<div id="bmy-body">
	<div class="container">
{{outlet}}
	</div>
</div>
