<div id="bmy-navbar" class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				<img src="images/logo-small-white.png" alt="兵马俑 BBS" />
			</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li data-toggle="tooltip" data-placement="bottom" title="导读">{{#link-to 'dashboard'}}<span class="glyphicon glyphicon-home"></span>{{/link-to}}</li>
				<li data-toggle="tooltip" data-placement="bottom" title="热门"><a href="#"><span class="glyphicon glyphicon-fire"></span></a></li>
				<li data-toggle="tooltip" data-placement="bottom" title="收藏">{{#link-to 'favourite'}}<span class="glyphicon glyphicon-heart"></span>{{/link-to}}</li>
				<li data-toggle="tooltip" data-placement="bottom" title="分区" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-large"></span> <b class="caret"></b></a>
					<ul class="dropdown-menu" id="nav-section-dropdown">
						{{#each s in sections}}
						<li>{{#link-to 'section' s.id}}{{s.id}}区&nbsp;{{s.name}}{{/link-to}}</li>
						{{/each}}
					</ul>
				</li>
			</ul>
			<form class="navbar-form navbar-left" role="form">
				{{#view "commandbar" class="form-group dropdown" id="commandbar"}}
					{{input type="text" placeholder="搜索版面、用户、或者文章" class="form-control dropdown-toggle" data-toggle="dropdown" value=searchcommand on="keyUp" key-up="commandbarKeyUp" id="inputSearch"}}
					<div class="input-group-btn">
						<span class="btn btn-default" disabled="disabled"><i class="glyphicon glyphicon-search"></i></span>
					</div>
					<ul class="dropdown-menu" role="menu" aria-labelledby="inputSearch">
						<li role="presentation" class="dropdown-header" id="search_result_board"><span class="label label-primary">搜索版面</span> {{searchcommand}}</li>
						{{#each board in board_array}}
						<li>{{#link-to 'board' board.secstr board.name}}{{bmy-string-bolder board.name searchcommand}}{{/link-to}}</li>
						{{/each}}
						{{#if hasMoreBoard}}
						<li id='bac_more'>{{#link-to 'search.board' searchcommand}}搜索更多关于&nbsp;<strong>{{searchcommand}}</strong>&nbsp;的版面{{/link-to}}</li>
						{{/if}}
						<li role="presentation" class="divider"></li>
						<li role="presentation" class="dropdown-header" id="search_result_user"><span class="label label-success">搜索用户</span> {{searchcommand}}</li>
						{{#each userid in user_array}}
						<li>{{#link-to 'user' userid}}{{bmy-string-bolder userid searchcommand}}{{/link-to}}</li>
						{{/each}}
						{{#if hasMoreUsers}}
						<li id='uac_more'>{{#link-to 'search.user' searchcommand}}搜索更多关于&nbsp;<strong>{{searchcommand}}</strong>&nbsp;的用户{{/link-to}}</li>
						{{/if}}
						<li role="presentation" class="divider"></li>
						<li role="presentation" class="dropdown-header" id="search_result_article"><span class="label label-danger">搜索文章</span> {{searchcommand}}</li>
					</ul>
				{{/view}}
			</form>
			<ul class="nav navbar-nav navbar-right">
				{{#if is_login}}
				<li class="dropdown">
					<a href="#" class='dropdown-toggle' data-toggle="dropdown" role="button">{{userid}}&nbsp;<span class='badge'>{{total_notify}}</span>&nbsp;<span class='caret'></span></a>
					<ul class='dropdown-menu' role='menu'>
						<li>
							{{#link-to 'mails'}}
								<span class='glyphicon glyphicon-envelope bmy-span-icon'></span>&nbsp;站内信<span class='badge pull-right'>{{unread_mail}}</span>
							{{/link-to}}
						</li>
						<li>
							{{#link-to 'notifications'}}
								<span class='glyphicon glyphicon-bullhorn bmy-span-icon'></span>&nbsp;提醒<span class='badge pull-right'>{{unread_notify}}</span>
							{{/link-to}}
						</li>
						<li class='divider'></li>
						<li>
							{{#link-to 'settings'}}
								<span class='glyphicon glyphicon-cog bmy-span-icon'></span>&nbsp;工具箱
							{{/link-to}}
						</li>
						<li class='divider'></li>
						<li>
							<span id='logout-button' {{action 'logout'}}><span class='glyphicon glyphicon-log-out bmy-span-icon'></span>&nbsp;注销</span>
						</li>
					</ul>
				</li>
				{{else}}
				<li>{{#link-to 'index'}}<span class='glyphicon glyphicon-log-in'></span>&nbsp;登录{{/link-to}}
				</li>
				{{/if}}
				<li data-toggle="tooltip" data-placement="bottom" title="帮助" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class='glyphicon glyphicon-question-sign'></span>&nbsp;<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">BBS 使用帮助</a></li>
						<li><a href="#">写信给站长</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>

<div id="bmy-body">
	<div class="container">
{{outlet}}
	</div>
</div>
