<div id="dashboard-main" class="float-left">
	<div id="feature-boards" class="dashboard-header"></div>

	<div id="dashboard-topten" class="dashboard-main-items">
		<div class="dashboard-main-title"><span class="dashboard-main-bg">今</span><span class="dashboard-main-title1">日十大</span></div>
		<div class="dashboard-main-title2">TOP TEN</div>
		{{topten-list articles=top10}}
	</div>

	<div class="dashboard-banner-big bmy-bg-color-blue3">
		BANNER
	</div>

	<div id="dashboard-sec-0" class="dashboard-sec">
		<div class="dashboard-main-title"><span class="dashboard-main-bg">0</span><span class="dashboard-main-title1">&nbsp;/&nbsp;本站系统</span></div>
		{{sectop-list articles=articlelist_sectop_0}}
	</div>
	<div id="dashboard-sec-1" class="dashboard-sec">
		<div class="dashboard-main-title"><span class="dashboard-main-bg">1</span><span class="dashboard-main-title1">&nbsp;/&nbsp;交通大学</span></div>
		{{sectop-list articles=articlelist_sectop_1}}
	</div>
	<div id="dashboard-sec-2" class="dashboard-sec">
		<div class="dashboard-main-title"><span class="dashboard-main-bg">2</span><span class="dashboard-main-title1">&nbsp;/&nbsp;开发技术</span></div>
		{{sectop-list articles=articlelist_sectop_2}}
	</div>
	<div id="dashboard-sec-3" class="dashboard-sec">
		<div class="dashboard-main-title"><span class="dashboard-main-bg">3</span><span class="dashboard-main-title1">&nbsp;/&nbsp;电脑应用</span></div>
		{{sectop-list articles=articlelist_sectop_3}}
	</div>
	<div id="dashboard-sec-4" class="dashboard-sec">
		<div class="dashboard-main-title"><span class="dashboard-main-bg">4</span><span class="dashboard-main-title1">&nbsp;/&nbsp;学术科学</span></div>
		{{sectop-list articles=articlelist_sectop_4}}
	</div>
	<div id="dashboard-sec-5" class="dashboard-sec">
		<div class="dashboard-main-title"><span class="dashboard-main-bg">5</span><span class="dashboard-main-title1">&nbsp;/&nbsp;社会科学</span></div>
		{{sectop-list articles=articlelist_sectop_5}}
	</div>
	<div id="dashboard-sec-6" class="dashboard-sec">
		<div class="dashboard-main-title"><span class="dashboard-main-bg">6</span><span class="dashboard-main-title1">&nbsp;/&nbsp;文学艺术</span></div>
		{{sectop-list articles=articlelist_sectop_6}}
	</div>
	<div id="dashboard-sec-7" class="dashboard-sec">
		<div class="dashboard-main-title"><span class="dashboard-main-bg">7</span><span class="dashboard-main-title1">&nbsp;/&nbsp;知性感性</span></div>
		{{sectop-list articles=articlelist_sectop_7}}
	</div>
	<div id="dashboard-sec-8" class="dashboard-sec">
		<div class="dashboard-main-title"><span class="dashboard-main-bg">8</span><span class="dashboard-main-title1">&nbsp;/&nbsp;体育运动</span></div>
		{{sectop-list articles=articlelist_sectop_8}}
	</div>
	<div id="dashboard-sec-9" class="dashboard-sec">
		<div class="dashboard-main-title"><span class="dashboard-main-bg">9</span><span class="dashboard-main-title1">&nbsp;/&nbsp;休闲音乐</span></div>
		{{sectop-list articles=articlelist_sectop_9}}
	</div>
	<div id="dashboard-sec-G" class="dashboard-sec">
		<div class="dashboard-main-title"><span class="dashboard-main-bg">G</span><span class="dashboard-main-title1">&nbsp;/&nbsp;游戏天地</span></div>
		{{sectop-list articles=articlelist_sectop_G}}
	</div>
	<div id="dashboard-sec-N" class="dashboard-sec">
		<div class="dashboard-main-title"><span class="dashboard-main-bg">N</span><span class="dashboard-main-title1">&nbsp;/&nbsp;新闻信息</span></div>
		{{sectop-list articles=articlelist_sectop_N}}
	</div>
	<div id="dashboard-sec-H" class="dashboard-sec">
		<div class="dashboard-main-title"><span class="dashboard-main-bg">H</span><span class="dashboard-main-title1">&nbsp;/&nbsp;乡音乡情</span></div>
		{{sectop-list articles=articlelist_sectop_H}}
	</div>
	<div id="dashboard-sec-A" class="dashboard-sec">
		<div class="dashboard-main-title"><span class="dashboard-main-bg">A</span><span class="dashboard-main-title1">&nbsp;/&nbsp;校务信息</span></div>
		{{sectop-list articles=articlelist_sectop_A}}
	</div>
	<div id="dashboard-sec-C" class="dashboard-sec">
		<div class="dashboard-main-title"><span class="dashboard-main-bg">C</span><span class="dashboard-main-title1">&nbsp;/&nbsp;俱乐部区</span></div>
		{{sectop-list articles=articlelist_sectop_C}}
	</div>
</div>

<div id="dashboard-aside" class="float-right">
	<div id="random-thread" class="dashboard-header bmy-bg-color-blue1">
		<span id="random-thread-title" class="bmy-font-sz-36">试试手气？</span>
		<span>（随机跳到两天内的某个主题贴）</span>
	</div>

	<div id="dashboard-commend" class="dashboard-main-items">
		<div class="dashboard-main-title"><span class="dashboard-main-bg">美</span><span class="dashboard-main-title1">文推荐</span></div>
		<div class="dashboard-main-title2">ARTICLES</div>
		{{announce-list articles=articlelist_commend}}
	</div>
	<div id="dashboard-announce" class="dashboard-main-items">
		<div class="dashboard-main-title"><span class="dashboard-main-bg">通</span><span class="dashboard-main-title1">知公告</span></div>
		<div class="dashboard-main-title2">NOTICE</div>
		{{announce-list articles=articlelist_announce}}
	</div>

	<div id="dashboard-guanshui" class="bmy-bg-color-green dashboard-banner-small">
		<div>兵马俑wap版</div>
		熄灯无法熄灭灌水的热情
	</div>
	<div id="dashboard-design" class="bmy-bg-color-oran dashboard-banner-small">
		<div>想要申请进站？</div>
		系统美工版/ArtDesign
	</div>
	<div id="dashboard-zhaopin" class="bmy-bg-color-blue2 dashboard-banner-small">
		招聘信息
	</div>
</div>

<div class="clear"></div>
